.lastTd {
    text-overflow: ellipsis;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    width: 80px;
    height: 100%;
}

#ulDept {
    border: 1px solid #eee;
}

#ulDept .active {
    background: #eee;
}

#ulDept li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

#empList {
    border: 1px solid #eee;
    position: relative;
    z-index: 2;
    margin-left: -1px;
    min-height: 300px;
}

#empList {
    border: 1px solid #eee;
    position: relative;
    z-index: 2;
    margin-left: -1px;
    min-height: 300px;
    padding-top: 20px;
}

#empList .empDiv {
    margin-bottom: 15px;
}
