.new-a, .setinfo, .excel, .sendmail {
    display: inline-block;
}

#tbtchDataList tbody tr td:nth-child(7) {
    white-space: nowrap;
}

#tbtchDataList tbody tr td:nth-child(8) {
    white-space: nowrap;
}   #ulDept {
        border: 1px solid #eee;
    }

#ulDept .active {
    background: #eee;
}

#ulDept li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

#empList {
    border: 1px solid #eee;
    position: relative;
    z-index: 2;
    margin-left: -1px;
    min-height: 300px;
}

#empList {
    border: 1px solid #eee;
    position: relative;
    z-index: 2;
    margin-left: -1px;
    min-height: 300px;
    padding-top: 20px;
}

#empList .empDiv {
    margin-bottom: 15px;
}

#ulDept {
    height: 406px;
    overflow-y: auto;
    padding-top: 15px;
    box-sizing: border-box;
}

#ulDept::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

#ulDept::-webkit-scrollbar-track-piece {
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}

#ulDept::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}

#ulDept::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}